.container{
    display: grid ;
    grid-template-areas: "r1 r1 r1";
    justify-content: space-around ;
    gap:30px ;padding-top: 130px;
    margin:0px 270px;
   
}
i{
    position: absolute;
    margin-top: -30px;
    font-size: 24px;
    margin-left: 240px;
}
#add{
    color:black;
    position:fixed;
    display: inline;
    font-weight: 600;
    font-size: 30px;
    border: 2px solid ;
    border-radius: 30px;
    padding:10px 12px;
    margin-left: 1160px;
    margin-top: 35px;
  }
  #background{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -5;
}
