<span id="headI" (click)="showCart()" title="My Cart"><i  class="fa fa-shopping-cart" style="font-size: 25px;"></i></span>
<div id="background"><img src="../../assets/header10.jpg" alt=""></div>
<div class="container">
        <div *ngFor="let vehicle of allVehicles">
            <app-display [vehicleCard]="vehicle"></app-display>
        </div>
</div>
<footer class="social-footer">
      <ul>
        <li><a href="https://www.facebook.com/"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
        <li><a href="https://www.instagram.com/?hl=en"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href="https://www.pinterest.com/"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
        <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
      </ul>
  </footer>

  
