.container {
    padding-top: 90px;
    text-align: center;
    background-image: url("../../assets/header1.jpg");
    height: 93%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#icon {
    position: absolute;
}

input {
    padding-left: 25px;
}

mat-form-field {
    margin: 10px;
    width: 270px;
}

mat-error {
    margin-top: -10px;
}

form {
    width: 300px;
    margin: auto;
    padding-top: 90px;
}

.btn {
    margin-top: 5px;
}

button {
    padding: 15px 35px;
}

button:valid {
    background-color: white;
    border-radius: 20px;
    border: rgb(51, 51, 51);
    cursor: pointer;
}

button:hover:valid {
    font-size: 17px;
    color: rgb(18, 17, 17);
}

button:invalid {
    background-color: rgb(50, 49, 50);
}

.signup {
    text-align: left;
    margin-left: -40px;
}

.toggles {
    display: flex;
    margin-left: -80px;
    margin-top: -80px;
    margin-bottom: 30px;
    width: 460px;
}

.loginT,
.signupT {
    background-color: rgb(141, 142, 142);
    width: 189px;
    margin: 10px;
    padding: 15px;
    font-size: 20px;
    border: 1px rgb(39, 42, 45) solid;
    color: white;
}

.toggles a {
    text-decoration: none;
}

.loginT:hover , .signupT:hover{
    background-color: rgb(15, 50, 89);
    cursor:pointer;
    font-size: 17px;
    color:rgb(239, 239, 250)
}

.signupT{
    background-color: rgb(38, 79, 125);
}

#eyes{
    position: absolute;
    left: 220px;
}
